* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: serif;
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #fffbed;
}

header {
  margin: 0 auto;
  width: 90%;
}

header nav:nth-child(1) {
  position: fixed;
  -webkit-background-composite: 0.33;
  z-index: 5;
  background-color: #fffbed;
  width: 95%;
  top: 0;
  left: 0;
}

header img {
  width: 320px;
  height: 170px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  text-transform: uppercase;
}

ul li a {
  font-size: 30px;
}

ul li button {
  font-size: 30px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #fffbed;
  padding: 19px 58px;
  border-radius: 150px;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
ul li button:hover {
  box-shadow: rgba(0.25, 0.25, 0.25, 0.5) 0px 25px 50px -12px;
}

main {
  margin: 0 auto;
  width: 90%;
  margin-top: 250px;
}

main section img {
  width: 500px;
}
.about {
  display: flex;
  align-items: center;
  gap: 300px;
}

.about h3 {
  font-size: 25px;
}

.about h3 span {
  color: #ffe99e;
}

h2 {
  color: #ffc600;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 100px;
  margin-top: 100px;
}



.header {
    width: 100%;
  height: 700px;

  display: flex;
flex-wrap: wrap;}

.card {
  width: 30%;
  height: 500px;
  justify-content: space-around;
  margin: 1%;
-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
background: #FFE99E;
}

.card h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .card p {
font-size: 16px;}



    .card img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .card h3 {
      margin: 12px 10px 6px;
      font-size: 18px;
      color: #333;
    }

    .card p {
      margin: 0 10px 10px;
      font-size: 14px;
      color: #666;
    }

    .rating {
      margin: 0 10px 15px;
      font-size: 14px;
      color: #f7b500;
      font-weight: bold;
    }